.container {
    width: 490px;
    margin: 0 auto;
    transform: perspective(100px) rotateY(3deg)
}
.satir-kirmizi {
    width: 490px;
    height: 84px;
    background-color:red;
    float:left;
}
.kare-kirmizi {
    width: 98px;
    height: 84px;
    background-color:red;
    float:left;
}
.kare-beyaz {
    width: 98px;
    height: 84px;
    background-color:white;
    float:left;
}

