.section-one{
    width: 400px;
    height: 300px;
    background:#62306D;
    display: flex;
    justify-content: center;
    margin: 10px;
    }
.circle-up{
    height:140px;
    width:100px;
    border-radius: 40%;
    background:#f7ec7d;
    }
.square-bottom{
    width: 100px; 
    height: 20px; 
    background:#f7ec7d ; 
    margin-top: -60px;
    } 
.square-white-bottom{
    width: 100px; 
    height: 75px; 
    background: #62306D; 
    } 
.square-white-top {
    width: 100px; 
    height: 75px; 
    background:#62306D; 
    margin-top: -170px;
    } 
.main{
    float: left;
    margin-top: 50px;
    } 
.orta{
    margin-top: 105px;
    float: left;
    } 
.section-two{
    width: 400px;
    height: 300px;
    background:#E3516E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    }
.circle-two{
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
    border-right: 60px solid transparent;
    border-top: 60px solid #FADE8B;
    border-left: 60px solid #51B5a9;
    border-bottom: 60px solid #F7F3D7;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    }
.section-three{
    width: 400px;
    height: 300px;
    background:#191210;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    }
.circle-3-side{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ECA03D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -20px;
    float: left;
    }
.circle-3-left-black1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #191210;
    position: absolute;
    }
.circle-3-left-square{
    width: 100px;
    height: 50px;
    background-color: #191210;
    position: absolute;
    z-index: 2;
    margin-top: -57px;
}

.circle-3-1{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ECA03D;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    }
.circle-3-2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #191210;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.circle-3-3{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #84271C;
    }
#rotate-right{
    transform: rotate(180deg);
    margin-left: -20px;
}
#container{
    background-color: #F7F3D7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
